.book-details {
  
    display: flex;
    flex-direction: column;
  justify-content: center;
    align-items: center;
    
 
}

.book-details img {
  width: 400px;
  margin: 15px 0;
    border-radius: 10px; 
       
}

img:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
}
.book-details h1 {
  font-size: 30px;
}

.book-details h2 {
  color: #555;
}
 p{
 color: white;
}
.add{
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.add:hover{
    background-color: #14b537;
}
.remove{
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  
}
.remove:hover{
    background-color: #c82333;
}
.buttons{
    display: flex;
    gap: 10px;
}