.book-details {
  
    display: flex;
    flex-direction: column;
  justify-content: center;
    align-items: center;
 
}

.book-details img {
  width: 400px;
  margin: 15px 0;
    border-radius: 10px; 
       
}

img:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
}
.book-details h1 {
  font-size: 30px;
}

.book-details h2 {
  color: #555;
}
 p{
 color: white;
}